# More generic / higher level paths should be listed first.

* @navapbc/platform-admins # project lead

/docs/  @navapbc/platform-admins @navapbc/platform-backend @navapbc/sdk @navapbc/platform-frontend

/e2e/               @navapbc/platform-admins  @navapbc/platform-backend @navapbc/sdk @navapbc/platform-frontend
/documentation/e2e/ @navapbc/platform-admins  @navapbc/platform-backend @navapbc/sdk @navapbc/platform-frontend

/app/               @navapbc/platform-admins @navapbc/platform-backend @navapbc/sdk @navapbc/platform-frontend
/documentation/app/ @navapbc/platform-admins @navapbc/platform-backend @navapbc/sdk @navapbc/platform-frontend

/.github/           @navapbc/platform-admins
/bin/               @navapbc/platform-admins
