<div class="usa-alert usa-alert--info usa-alert--no-icon">
  <div class="usa-alert__body">
    <p class="usa-alert__text">
      <%= t("flex.tasks.partials.no_tasks_alert.message") %>
    </p>
  </div>
</div>