<%= business_process_name %>BusinessProcess = Flex::BusinessProcess.define(:<%= file_name %>, <%= case_name %>) do |bp|
  bp.applicant_task('submit_application')

  bp.start_on_application_form_created('submit_application')

  bp.transition('submit_application', '<%= application_form_name %>Submitted', 'example_1')
  bp.transition('example_1', 'a_different_event', 'end')
end
