<% content_for :case_summary do %>
  <p>Passport ID: <span class="text-bold"><%= @case.passport_id %></span></p>
  <p>Current step: <span class="text-bold"><%= @case.business_process_current_step %></span></p>
<% end %>

<%= render template: 'strata/cases/show', locals: {
  model_class: PassportCase,
  kase: @case,
  sidenav: [
    {
      text: "Overview",
      link: polymorphic_path(@case)
    },
    {
      text: "Application details",
      link: application_details_passport_case_path(@case)
    },
    {
      text: "Tasks",
      link: tasks_passport_case_path(@case)
    },
    {
      text: "Documents",
      link: documents_passport_case_path(@case)
    },
    {
      text: "Case history",
      link: history_passport_case_path(@case)
    },
    {
      text: "Notes",
      link: notes_passport_case_path(@case)
    }
  ]
} %>
