<% content_for :head do %>
  <meta name="test-injected" content="application-custom-head">
  <script>console.log('Custom application head content');</script>
<% end %>

<h1>Application Layout Test - With Custom Head</h1>
<p>This view provides content_for :head</p>
