
<%#
  Sidenav partial for case pages
  
  Required parameters:
  - sidenav: Array of navigation items, each with:
    - text: Display text for the navigation item
    - link: URL path for the navigation item
  
  Example usage:
    render partial: "flex/cases/sidenav", locals: { sidenav: custom_nav_items }
%>
<% if content_for?(:sidenav) %>
  <%= yield :sidenav %>
<% else %>
  <nav aria-label="Side navigation,">
    <ul class="usa-sidenav">
      <% sidenav.each do |item| %>
        <li class="usa-sidenav__item">
          <%= link_to item[:text], item[:link], class: { "usa-current" => request.path == item[:link] } %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>
