<% module_namespacing do -%>
class <%= class_name %> < <%= parent_class_name.classify %>
<% if has_flex_attributes? -%>
  include Strata::Attributes

<% flex_attributes.each do |attribute| -%>
  flex_attribute :<%= attribute[:name] %>, :<%= attribute[:type] %>
<% end -%>
<% end -%>
<% if has_rails_attributes? -%>

<% rails_attributes.each do |attribute| -%>
  attribute :<%= attribute[:name] %>, :<%= attribute[:type] %>
<% end -%>
<% end -%>
end
<% end -%>
