<% content_for :case_summary do %>
  <p>Passport ID: <span class="text-bold"><%= @case.passport_id %></span></p>
  <p>Current step: <span class="text-bold"><%= @case.business_process_current_step %></span></p>
<% end %>

<% content_for :case_details do %>
  <button class="usa-button">Approve</button>
  <button class="usa-button usa-button--outline">Reject</button>
<% end %>

<%= render template: 'flex/cases/show' %>
