<tr>
  <td>
    <% # TODO show in local time %>
    <%= link_to application_form[:created_at], application_form[:path] %>
  </td>
  <td>
    <%= t("strata.application_forms.statuses.#{application_form[:status]}") %>
  </td>
  <td>
    TODO
  </td>
</tr>
